.login-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
	width: 75%;
	margin: auto;
}

#login-form {
	width: 100%;
	background-color: var(--primary-white);
	color: var(--primary-black);
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 300px;
}

#login-form > div {
	width: 100%;
	display: flex;
	row-gap: 10px;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
}

input[type="text"],
input[type="password"] {
	border-bottom: 1px solid black;
	width: 100%;
}

button {
	/* i don't like using margin in this way but this is the best i can do rn*/
	margin-top: 20px;
	width: 100%;
	background-color: var(--primary-black);
	color: var(--primary-white);
	border: 1px solid var(--primary-black);
	padding: 10px 15px;
	cursor: pointer;
}
