body {
	font-family: "Raleway", sans-serif;
}
section {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 !important;
}

#hero {
	height: 100%;
}

#hero img {
	max-width: 800px;
}

@media (max-width: 900px) {
	#hero img {
		max-width: 90%;
	}
}

#main-events > div {
	width: 50%;
	height: 100vh;
}
#main-events div:first-child {
	background-image: url("./assets/images/house.jpg");
	background-position: bottom 10% right 40%;
	background-size: cover;
}

@media (max-width: 677px) {
	#main-events {
		flex-direction: column;
		height: auto;
	}
	#main-events div:first-child {
		width: 100%;
		height: 50vh;
		background-position: bottom 10% right 40%;
		display: block;
	}
	#main-events div:nth-child(2) {
		width: 100%;
	}
}


#rsvp,
#travel-tips,
#main-events > div:nth-child(2),
#other-events {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap: 45px;
}

@media (max-width: 400px) {
	#rsvp,
	#travel-tips,
	#main-events > div,
	#other-events {
		padding-left: 20px;
		padding-right: 20px;
	}
}

#other-events {
	filter: saturate(100%) hue-rotate(0deg) brightness(100%) blur(0px);
	background-image: url("./assets/images/texture-bg.jpg");
	background-position: center center;
	color: var(--primary-black);
}

#hero h1 {
	z-index: 100;
}

.event {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	line-height: 1.25em;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.event h2 {
	margin-bottom: 25px;
}

.event h3 {
	font-size: 1.5rem;
	font-weight: 400;
	margin-bottom: 10px;
}

.event h4 {
	font-weight: bold
}
.event h5{
	font-weight: 200;
	text-transform: none;
}

.event hr {
	width: 25px;
	margin-bottom: 15px;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: var(--primary-white);
	color: var(--primary-black);
	display: flex;
	padding: 15px;
	align-items: center;
	justify-content: space-between;
	z-index: 10;
	max-height: 80px;
}

header img {
	max-width: 75%;
	max-height: 80px;
}

.card-header {
	/* background-color: pink; */
	width: 500px;
	height: 125px;
	object-fit: cover;
}
img.white {
	filter: invert(100%) sepia(100%) saturate(3844%) hue-rotate(173deg)
		brightness(134%) contrast(107%);
}

#hamburger {
	display: flex;
	flex-direction: column;
	cursor: pointer;
	padding: 10px;
	z-index: 201;
}

#hamburger div {
	width: 30px;
	height: 3px;
	background-color: var(--primary-black);
	margin: 4px 0;
	transition:
		transform 0.4s,
		opacity 0.4s,
		background-color 0.4s;
}
#hamburger.close div {
	background-color: var(--primary-white);
}

/* Close animation */
#hamburger.close div:nth-child(1) {
	transform: rotate(-45deg) translate(-5px, 10px);
}

#hamburger.close div:nth-child(2) {
	opacity: 0;
}

#hamburger.close div:nth-child(3) {
	transform: rotate(45deg) translate(-5px, -10px);
}

#menu {
	top: 0;
	right: 0;
	width: 100vw;
	height: 100vh;
	position: fixed;
	background-color: var(--primary-black);
	z-index: 200;
	transition: all 0.2s ease-out;
	color: var(--primary-grey);
	display: flex;
	justify-content: center;
	align-items: center;
}

#menu.closed {
	top: -115%;
}

#menu > div {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-evenly;
	width: 100%;
	padding: 0 40px;
	row-gap: 25px;
}

#photo {
	height: 100vh;
	width: 100vw;
	background-image: url("assets/images/nickbelle.png");
	background-size: cover;
	background-position: center center;
	filter: saturate(0%) hue-rotate(0deg) brightness(82%) opacity(100%)
		blur(0px);
}

#photo-cont > img {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	height: 350px;
	bottom: 10px;
	right: 10px;
	/* background: rgba(0, 0, 0, 0.5); */
}

@media (max-width: 1000px) {
	#photo-cont > img {
		bottom: -20px;
		right: 30px;
	}
}

#rsvp {
	width: 100%;
	height: 50%;
	position: relative;
}

#rsvp img {
	z-index: 10000;
	height: 250px;
}

.rsvp-card {
	position: absolute;
	padding: 0 40px;
	width: 80%;
	max-width: 700px;
	top: 75%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.rsvp-card h4 {
	/* margin-bottom: 25px; */
	line-height: 2.5rem;
	font-size: 1.5rem;
	width: 100%;
	color: var(--text-grey);
	text-transform: uppercase;
	/* border-bottom: 1px solid var(--primary-grey); */
}

.rsvp-card h5 {
	text-transform: uppercase;
	line-height: 1.5rem;
}

.guest-form {
	width: 100%;
	padding: 45px 5px;
	display: flex;
	row-gap: 15px;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

textarea,
select {
	width: 100%;
	height: 35px;
	resize: none;
	display: block;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	border-bottom: 1px solid var(--primary-grey);
	/* line-height: 2.5rem; */
	color: var(--text-grey);
	cursor: pointer;
}

textarea {
	margin-bottom: 20px;
}

.select-wrap {
	color: var(--text-grey);
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	height: 35px;
	width: 100%;
}

.select-wrap i {
	position: absolute;
	right: 10px;
	top: 10px;
}

#rsvp button {
	color: var(--primary-black);
	background-color: var(--primary-white);
	font-weight: bold;
	font-size: 1.25rem;
	width: 200px;
	margin-bottom: 25px;
	/* width: 100px; */
}

@media (max-width: 500px) {
	.rsvp-card {
		width: 90%;
	}
}

#success {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

#success h4 {
	border-bottom: none;
	margin-bottom: 0;
}
