@font-face {
	font-family: "babybowser";
	src: url("assets/fonts/babybowser.eot") format("embedded-opentype");
	src: 
		url("assets/fonts/babybowser.ttf") format("truetype");
}
@import url('fonts.googleapis.com/css2?family=Jura&display=swap');

h1 {
	font-family: 'babybowser';
	font-size: 4rem;
}

h2 {
	font-family: 'babybowser';
	font-size: 3.5rem;
}

.card-header {
	font-size: 1.5rem;
	color: var(--text-grey);
	text-transform: uppercase;
}

.error {
	color: darkred;
}
